<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=localhost,3306;Database=desafiotecnicobanking;User ID=usuario_novo;Password=1234;Pooling=true" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>